@charset "UTF-8";

@import "base/reset";
@import "../../node_modules/bootstrap-4-grid/scss/grid/bootstrap-grid.scss";

@import "base/colors";
@import "base/typography";
@import "base/navbar";
@import "base/hero";
@import "base/footer";

html, body {
    //width: 100%;
    //height: 100%;

    a:hover {
        text-decoration: none;
    }
}

#cover {
    background-image: url(../images/cover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    padding: 2rem;

    //margin-bottom: 2rem;
    border-bottom: 4px solid $ct-grey;

    .caption {
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.4);

        h1, p {
            color: #fff;
            text-shadow: 2px 2px 2px #333;
        }
    }

    h1 {
        font-size: 3rem;

        //font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    .logo {
        width: 160px;
    }
}

#filters {
    display: none;
    background-color: #f6f6f6;
    padding: .5rem 2rem 1rem;
    border-radius: 0 0 0 6px;

    h3 {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: #888;
        margin-bottom: .5rem;
    }

    .row > div {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    label {
        display: block;
        position: relative;
        padding: 2px 0 0 30px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: $ct-dark-blue;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            border-radius: 12px;
            border: 2px solid $ct-plum;
            background-color: #fff;
        }

        /* On mouse-over, add a grey background color */
        &:hover input ~ .checkmark {
            background-color: #f0f0f0;
        }

        /* When the checkbox is checked, add a blue background */
        > input:checked ~ .checkmark {
            background-image: url(../images/icons/checkbox.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

#toggle-filters {
    background-color: #f6f6f6;
    color: $ct-plum;
    padding: .6rem 1.2rem .8rem;
    border-radius: 0 0 6px 6px;

    &:hover {
        background-color:$ct-grey;
    }

    a {
        text-decoration: none;
    }
}

#timeline {
    padding: 1rem 0 2rem;

    .year {
        h2 {
            color: $ct-grey;
            font-size: 4rem;
            font-weight: 300;
        }
    }

    .sanctions {
        li {
            margin-bottom: 3rem;

            .heading {
                border-bottom: 1px solid $ct-grey;
                padding-bottom: 6px;
                margin-bottom: 1rem;
            }

            .item {
                margin-bottom: 2rem;
            }

            .date {
                padding-left: 0;
                color: $ct-plum;
                padding-top: 16px;
            }

            .text {
                font-size: 1.1rem;
                line-height: 1.4rem;
                color: #444;

                .reason {
                    margin-top: .5rem;
                    font-weight: 300;
                    font-size: .9rem;
                    color: #aaa;

                    a {
                        color: #aaa;
                        text-decoration: none;
                    }
                }
            }

            .flag {
                padding-top: 2px;
                background-image: url(../images/icons/us.svg);
                background-repeat: no-repeat;
                background-position: center top;
                background-size: 48px;
                height: 48px;

                &.eu {
                    background-image: url(../images/icons/eu.svg);
                }
            }

            .icons {
                padding-right: 0;

                .icon {
                    width: 32px;
                    height: 32px;
                    float: right;
                    border: 1px solid #f0f0f0;
                    border-radius: 16px;
                    margin-left: 6px;
                    cursor: pointer;
                    filter: opacity(50%);

                    &:hover {
                        filter: opacity(100%);
                    }

                    &.diplomatic {
                        background: url(../images/icons/diplomatic.svg);
                    }

                    &.financial {
                        background: url(../images/icons/financial.svg);
                    }

                    &.economical {
                        background: url(../images/icons/economical.svg);
                    }

                    &.corporate {
                        background: url(../images/icons/corporate.svg);
                    }

                    &.personal {
                        background: url(../images/icons/personal.svg);
                    }

                    &.extend {
                        background: url(../images/icons/extend.svg);
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #cover {
        padding: 1rem;

        //margin-bottom: 1rem;

        .caption {
            padding: 1rem;
            margin-top: 1rem;
        }

        h1 {
            font-size: 2.4rem;
            margin-top: 0;
        }
    }

    #timeline {
        .sanctions {
            li {
                margin-bottom: 2rem;

                .text .reason {
                    font-size: 1rem;
                }
            }
        }
    }

    #toggle-filters {
        margin-right: 1rem;
    }
}

$tooltip-arrow-width: 8px;
$tooltip-arrow-height: 6px;
$tooltip-max-width: 130px;

.tooltip {
    position: absolute;
    z-index: 900;
    display: block;
    margin: 0;
    padding: $tooltip-arrow-height 0;
    font-size: .8rem;
    font-family: $sansCT;
    word-wrap: break-word;
    opacity: 0;

    &.show {
        opacity: .9;
    }

    .arrow {
        position: absolute;
        display: block;
        width: $tooltip-arrow-width;
        height: $tooltip-arrow-height;
        bottom: 0;

        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
            top: 0;
            border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
            border-top-color: #555;
        }
    }

    .tooltip-inner {
        max-width: $tooltip-max-width;
        padding: 8px 6px;
        color: #f0f0f0;
        text-align: center;
        background-color: #555;
        border-radius: 4px;
    }
}
