$grey-0: #eaeceb; //used to be #e5e8e8
$grey-1: #DEE1E2;
$grey-2: #BDC2C6;
$grey-3: #9DA4A9;
$grey-4: #7C858D;
$grey-5: #5B6770;
$grey-6: #49525A;
$grey-7: #373E43;
$grey-8: #24292D;
$grey-9: #121516;

$orange-1: #FBE1CD;
$orange-2: #F7C39A;
$orange-3: #F2A568;
$orange-4: #EE8735;
$orange-5: #EA6903;
$orange-6: #BB5402;
$orange-7: #8C3F02;
$orange-8: #5E2A01;
$orange-9: #2F1501;

$turquois-1: #D8EFF4;
$turquois-2: #B2E0E9;
$turquois-3: #8BD0DE;
$turquois-4: #65C1D3;
$turquois-5: #3EB1C8;
$turquois-6: #328EA0;
$turquois-7: #256A78;
$turquois-8: #194750;
$turquois-9: #0C2328;

$yellow-7: #99771A;
$yellow-8: #665012;

$green-7: #005A38;

$red-1: #F6D3D6;
$red-2: #EDA7AC;
$red-3: #E37C83;
$red-4: #DA5059;
$red-5: #D12430;

// CT

$ct-plum: #2D1996;
$ct-dark-blue: #102C44;
$ct-light-blue: #0ECAE3;
$ct-pink: #FF0055;
$ct-grey: #DEE5EC;

// BRAND COLORS

$brand-primary: $orange-5;
$brand-secondary: $grey-4;
$brand-three: #a04702;
