footer {
    padding: 3rem 0 2rem 0;

    .footer-wrapper {
        text-align: center;

        .social-links a {
            text-decoration: none;
            letter-spacing: 10px;
        }

        @include media-breakpoint-down(xs) {
            .vk, .ok, .rss {
                display: none;
            }
        }


        .social-links a svg {
            fill: white;
            transition: fill 0.3s;
        }

        h2#copyright {
            margin-top: 2rem;
            font-size: 0.9rem;
        }

        .icons, .icons a {
            color: transparentize($color: white, $amount: 0.8);
            font-size: 0.8rem;
        }
    }
}

body.rfe {
    footer {
        .social-links h1 {
            letter-spacing: 10px;
        }

        background: $orange-5;
        border-bottom: 6px solid $orange-3;

        .footer-wrapper {
            .social-links a svg:hover {
                fill: $grey-8;
            }

            h2#copyright {
                color: transparentize($color: black, $amount: 0.7);
            }
        }
    }
}

body.ct {
    footer {
        background: $ct-dark-blue;
        border-bottom: 6px solid $ct-pink;

        .footer-wrapper {
            .social-links a svg:hover {
                fill: $ct-pink;
            }

            h2#copyright {
                color: transparentize($color: white, $amount: 0.7);
            }
        }
    }
}
