header {
  background: url('../images/hero_bg.jpg'), #7186DB;
  background-size: cover;
  background-position: left center;
  width: 100%;
  margin-top: 56px;
  min-height: 320px;
  position: relative;
  margin-bottom:  2rem;
  max-height: 900px;
  border-bottom: 1px solid $grey-9;
  height: 90vh;

  @include media-breakpoint-up(sm) { 
    height: 80vh;
  }

  .hero-wrapper {
    
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;

    .hero-meta {
      
      margin: 0 auto;
      max-width: 1100px;
      padding: 0 5% 2rem 5%;

    }
    
  }
}
