body {
    nav {
        z-index: 999;
    }

    &.rfe {
        nav .progress .bar {
            background: $orange-5;
        }

        nav {
            .nav__right #share-drawer {
                li a {
                    fill: white;
                }

                li a:hover {
                    fill: $orange-5;
                }
            }

            .nav__right #share-wrapper {
                #share-button {
                    stroke: $grey-5;
                }

                #close-right-x, #close-left-x {
                    stroke: $grey-5;
                }
            }

            .nav__right #share-wrapper:hover {
                #share-count {
                    color: $orange-5;
                    transition: color .4s ease;
                }

                #close-icon, .share-circle {
                    fill: $orange-5;
                    stroke: $ct-pink;
                }

                #share-button {
                    stroke: $orange-5;
                }

                #close-right-x, #close-left-x {
                    stroke: white;
                }
            }
        }

        nav.light {
            #rfe-eng-logo {
                #rfe-torch {
                    fill: $orange-5;
                    transition: fill .4s ease;
                }

                #rfe-words {
                    fill: $grey-5;
                    transition: fill .4s ease;
                }

                &:hover {
                    #rfe-torch {
                        fill: $orange-4;
                    }

                    #rfe-words {
                        fill: $grey-4;
                    }
                }
            }

            #share-count {
                color: $grey-6;
            }

            #share-button {
                stroke: $grey-5;
            }
        }

        nav.clear {
            #rfe-eng-logo {
                fill: white;
                transition: opacity .4s ease;

                &:hover {
                    opacity: 0.5;
                }
            }

            #share-count {
                color: white;
                text-shadow: 0px 0px 1px black;
            }

            #share-button {
                stroke: white;
            }
        }
    }

    &.ct {
        nav {
            .nav__right #share-drawer {
                li a {
                    fill: white;
                }

                li a:hover {
                    fill: $ct-pink;
                }
            }

            .nav__right #share-wrapper {
                #share-button {
                    stroke: $grey-5;
                }

                #close-right-x, #close-left-x {
                    stroke: $grey-5;
                }
            }

            .nav__right #share-wrapper:hover {
                #share-count {
                    color: $ct-pink;
                    transition: color .4s ease;
                }

                #close-icon, .share-circle {
                    fill: $ct-pink;
                    stroke: $ct-pink;
                }

                #share-button {
                    stroke: $ct-pink;
                }

                #close-right-x, #close-left-x {
                    stroke: white;
                }
            }
        }

        nav #ct-logo {
            padding-top: 6px;
            width: 130px;
        }

        nav .progress .bar {
            background: $ct-pink;
        }

        nav.light {
            #ct-circle {
                fill: $ct-light-blue;
            }

            #ct-arrow {
                fill: $ct-pink;
            }

            #ct-logo-text {
                fill: $ct-dark-blue;
            }
        }

        nav.clear {
            #ct-circle, #ct-arrow, #ct-logo-text {
                fill: white;
            }
        }
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;

    .progress {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 3px;

        .bar {
            height: 100%;
            width: 56%;
        }
    }

    &.light {
        background: #fff;
        border-bottom: 4px solid #a2abbc;

        .progress {
            background: $grey-2;
        }
    }

    &.clear {
        background: transparent;

        .progress {
            background: transparentize($grey-1, 0.9);
        }

        .nav__right #share-button {
            stroke: white;
        }

        .nav__right #share-count {
            color: white;
        }
    }

    .nav__left {
        float: left;

        .topbar__logo {
            transition: opacity .4s ease;
            position: absolute;
            width: 150px;
            max-height: 100%;
            padding-left: 6px;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .nav__right {
        user-select: none;
        cursor: pointer;
        float: right;

        #share-button {
            .share-circle {
                fill: transparent;
            }
        }
    }

    #share-wrapper {
        &.closed {
            & + #share-drawer {
                visibility: hidden;
                opacity: 0;
            }

            #share-button #share-icon {
                visibility: visible;
                opacity: 1;
            }

            #share-button #close-icon {
                visibility: hidden;
                opacity: 0;
            }
        }

        &.opened {
            & + #share-drawer {
                visibility: visible;
                opacity: 1;
            }

            #share-button #share-icon {
                visibility: hidden;
                opacity: 0;
            }

            #share-button #close-icon {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    #share-button {
        display: inline-block;
        padding: 14px 0 0 0;
        height: 41px;
        width: 22px;
        transition-duration: 0.2s;
        transition-property: transform;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }

    .share-icon {
        transition: opacity 0.2s ease;
    }
}

#share-count {
    padding-right: 20px;
    display: inline-block;
    vertical-align: 8px;
    font-size: 16px;
}

.share-icon {
    fill: none;
}

#share-drawer {
    position: absolute;
    border-radius: 10px;
    margin-top: 10px;
    background: $grey-8;
    right: 41px;
    transition: opacity 0.4s ease;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom-color: $grey-8;
        border-top: 0;
        margin-left: -8px;
        margin-top: -8px;
    }

    li {
        margin: 10px 6px;
        padding: 8px;
    }

    svg {
        width: 22px;
        transition-duration: 0.3s;
        transition-property: transform;

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.1);
        }
    }
}
