$sansRFE: "Skolar Sans PE", "Helvetica", "Arial", sans-serif;
$serifRFE: "Merriweather", sans-serif;

$sansCT: "Roboto Condensed", sans-serif;
$serifCT: "Skolar PE", serif;

body {
    font-family: $sansCT;
}

header {
    h1,
    h3 {
        color: white;
        text-shadow: 0px 0px 1px black;
    }

    h2 {
        color: transparentize($color: white, $amount: 0.3);
    }

    .hero-meta {
        text-align: center;
    }
}

p {
    text-rendering: geometricPrecision;
}

em {
    font-weight: bold;
}

#intro {
    font-size: 0.8rem;
    line-height: 1.4;
    color: $grey-5;
    margin-bottom: 2rem;

    p {
        margin-bottom: 2rem;
    }

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
        line-height: 1.5;
    }
}

#dateline {
    margin-bottom: 1.5rem;
    text-transform: lowercase;
    font-variant: small-caps;
    color: $grey-3;
    font-weight: 600;
}

#annotations p, #lead p {
    font-size: 1.2rem;
    line-height: 1.4;

    @include media-breakpoint-up(sm) {
        font-size: 1.3rem;
        line-height: 1.5;
    }


    @include media-breakpoint-up(md) {
        line-height: 1.6;
    }


    @include media-breakpoint-up(lg) {
        line-height: 1.7;
    }
}

#annotations quote {
    color: $grey-5;
    padding-left: 10px;
    margin-bottom: 40px;
    line-height: 1.4;

    @include media-breakpoint-up(md) {
        display: none !important;
    }


    p {
        margin-top: 6px;
        font-weight: 600;
    }
}

#balloons {
    .balloon {
        font-size: 0.9rem;
        line-height: 1.4;

        @include media-breakpoint-up(lg) {
            font-size: 1.1rem;
            line-height: 1.6;
        }


        p {
            font-size: 1rem;
            line-height: 1.4;
            font-size: 0.9rem;
        }
    }
}

footer #alt-lang {
    font-size: 1rem;
}

body.rfe {
    // header
    header {
        h1,
        h3 {
            font-family: $serifRFE;
            margin-bottom: 1rem;
        }

        h2 {
            font-family: $sansRFE;
            margin-bottom: 1rem;
            font-size: 1rem;
            font-weight: 300;
        }

        h1 {
            font-size: 1.7rem;
            letter-spacing: -0.035em;
            font-weight: 700;
            line-height: 1.1;
        }

        h3 {
            line-height: 1.3;
            font-size: 0.9rem;
            letter-spacing: -0.02em;
        }

        @include media-breakpoint-up(sm) {
            h1 {
                font-size: 2.25rem;
                margin-bottom: 2rem;
            }

            h2 {
                font-size: 1.3rem;
                margin-bottom: 2rem;
            }

            h3 {
                font-size: 1.1rem;
                margin-bottom: 2rem;
            }
        }


        @include media-breakpoint-up(md) {
            h1 {
                font-size: 2.75rem;
                margin-bottom: 2rem;
            }

            h2 {
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }

            h3 {
                font-size: 1.2rem;
                margin-bottom: 2rem;
            }
        }
    }

    // navigation
    nav {
        font-family: $sansRFE;
    }

    // intro
    #intro, #dateline {
        font-family: $sansRFE;
    }

    // main copy
    #annotations {
        p {
            font-family: $serifRFE;
            font-weight: 300;
            color: $grey-7;

            strong {
                font-weight: 400;
            }
        }

        quote {
            display: block;
            border-left: 4px solid $orange-5;
            font-family: $sansRFE;
            font-size: 0.9rem;

            p {
                font-family: $sansRFE;
                font-weight: 600;
                font-size: 0.9rem;
            }
        }
    }

    #balloons {
        .balloon {
            font-family: $sansRFE;

            p {
                color: $grey-6;
                font-weight: 600;
            }
        }
    }

    footer {
        #alt-lang {
            color: white;
            margin-bottom: 2rem;

            a, a:visited {
                color: white;
                text-decoration: none;
                padding: 7px 7px;
                margin-left: 5px;
                border: 1px solid $orange-6;
                box-shadow: 2px 2px $orange-6;

                &:hover {
                    background: $orange-3;
                    color: $orange-8;
                    box-shadow: 0px 0px $orange-6;
                }
            }
        }

        .footer-wrapper {
            font-family: $sansRFE;

            .social-links h1 {
                font-variant: small-caps;
                text-transform: lowercase;
                font-size: 2rem;
                margin: 1rem 0;
                color: $orange-2;
                letter-spacing: 0.2em;
                font-weight: 300;
            }
        }
    }
} // end BODY RFE

body.ct {

        h1,
        h2,
        h3 {
            font-family: $sansCT;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        h2 {
            font-family: $sansCT;
                color: $grey-0;
            font-size: 1rem;
            font-weight: 300;
        }

        h1 {
            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1.1;
        }

        h3 {
            line-height: 1.3;
            font-size: 0.9rem;
            letter-spacing: -0.02em;
        }


    // navigation
    nav {
        font-family: $sansCT;
    }

    #intro {
        font-family: $sansCT;
    }

    #dateline {
        font-family: $sansCT;
    }

    #annotations, #lead {
        p {
            font-family: $serifCT;
            font-weight: 300;
            color: $grey-7;
            margin-bottom: 20px;

            strong {
                font-weight: 400;
                color: black;
                text-shadow: 0px 0px 2px white;
            }
        }

        quote {
            display: block;
            border-left: 4px solid $ct-light-blue;
            font-family: $sansCT;
            font-size: 1.2rem;

            p {
                font-family: $sansCT;
                font-weight: 600;
                font-size: 1.2rem;
            }
        }
    }

    #balloons {
        .balloon {
            font-family: $sansCT;
            font-weight: 300;
            line-height: 1.4;

            p {
                color: $grey-6;
                font-weight: 600;
            }
        }
    }

    footer {
        .footer-wrapper {
            font-family: $sansCT;

            h2#copyright {
                color: $grey-2;
            }

            .social-links h1 {
                text-transform: uppercase;
                font-size: 1.2rem;
                margin: 1rem 0;
                color: #4f6d7a;
                font-weight: 300;
            }
        }
    }
} // END CT BODY
