{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>

<head>
  {% include "shared/head.html" %}
  <link href="{{ASSET_URL}}stylesheets/app.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75913661-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-75913661-1');
  </script>
</head>

<body class="{{ RFEAPP }}">

  <div class="container-fluid">
    
    <div class="row justify-content-start" id="cover">
      <div class="col-xs-12 col-sm-7">
        <a href="{{ homeUrl }}">
          <img src="{{ASSET_URL}}images/logo.png" alt="" class="logo">
        </a>
      </div>

      <div class="col-xs-12 col-sm-5 caption">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
  
  {% block content %} {% include "shared/timeline.html" %} {% endblock %} 
  
  {% include "shared/footer.html" %} 
  
  {% block javascript %}<script src="{{ASSET_URL}}javascripts/app.js"></script> {% endblock %}
</body>

</html>