<footer>
  <div class="footer-wrapper">
    <div class="social-links">
      <h1>{{ socialLinks.followText }}</h1>
      <a href="{{ socialLinks.fb }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 49.652 49.652">
          <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zM31 25.7h-4.039v14.396h-5.985V25.7h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56L31 25.7z"
          />
        </svg>
      </a>
      <a href="{{ socialLinks.twitter }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 49.652 49.652">
          <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm11.075 19.144c.011.246.017.494.017.742 0 7.551-5.746 16.255-16.259 16.255-3.227 0-6.231-.943-8.759-2.565.447.053.902.08 1.363.08 2.678 0 5.141-.914 7.097-2.446a5.72 5.72 0 0 1-5.338-3.969 5.76 5.76 0 0 0 2.58-.096 5.715 5.715 0 0 1-4.583-5.603l.001-.072a5.69 5.69 0 0 0 2.587.714 5.71 5.71 0 0 1-2.541-4.755c0-1.048.281-2.03.773-2.874a16.225 16.225 0 0 0 11.777 5.972 5.707 5.707 0 0 1-.147-1.303 5.714 5.714 0 0 1 9.884-3.91 11.406 11.406 0 0 0 3.63-1.387 5.74 5.74 0 0 1-2.516 3.162 11.36 11.36 0 0 0 3.282-.899 11.494 11.494 0 0 1-2.848 2.954z"
          />
        </svg>
      </a>
      <a href="{{ socialLinks.youtube }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 97.75 97.75">
          <path d="M39.969 59.587L61.91 48.211c-7.359-3.84-14.627-7.63-21.941-11.447v22.823z" />
          <path d="M48.875 0C21.883 0 0 21.882 0 48.875S21.883 97.75 48.875 97.75 97.75 75.868 97.75 48.875 75.867 0 48.875 0zm33.301 65.189c-.846 3.67-3.848 6.377-7.461 6.78-8.557.957-17.217.962-25.842.957-8.625.005-17.287 0-25.846-.957-3.613-.403-6.613-3.11-7.457-6.78-1.203-5.228-1.203-10.933-1.203-16.314s.014-11.088 1.217-16.314c.844-3.67 3.844-6.378 7.457-6.782 8.559-.956 17.221-.961 25.846-.956 8.623-.005 17.285 0 25.841.956 3.615.404 6.617 3.111 7.461 6.782 1.203 5.227 1.193 10.933 1.193 16.314s-.003 11.087-1.206 16.314z"
          />
        </svg>
      </a>
      <a href="{{ socialLinks.instagram }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 49.652 49.652">
          <path d="M24.825 29.796a4.978 4.978 0 0 0 4.972-4.97 4.954 4.954 0 0 0-.94-2.897 4.964 4.964 0 0 0-4.029-2.073c-1.659 0-3.126.82-4.031 2.072a4.947 4.947 0 0 0-.94 2.897 4.973 4.973 0 0 0 4.968 4.971zM35.678 18.746V13.96l-.623.002-4.164.013.016 4.787z"
          />
          <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm14.119 21.929v11.56a5.463 5.463 0 0 1-5.457 5.458H16.164a5.462 5.462 0 0 1-5.457-5.458V16.165a5.462 5.462 0 0 1 5.457-5.457h17.323a5.463 5.463 0 0 1 5.458 5.457v5.764z"
          />
          <path d="M32.549 24.826c0 4.257-3.464 7.723-7.723 7.723s-7.722-3.466-7.722-7.723a7.67 7.67 0 0 1 .568-2.897h-4.215v11.56a2.706 2.706 0 0 0 2.706 2.704h17.323a2.707 2.707 0 0 0 2.706-2.704v-11.56h-4.217c.367.894.574 1.873.574 2.897z"
          />
        </svg>
      </a>

      <a href="{{ socialLinks.vk }}" class="vk">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42" height="42" viewBox="0 0 97.75 97.75">
          <path d="M48.875 0C21.883 0 0 21.882 0 48.875S21.883 97.75 48.875 97.75 97.75 75.868 97.75 48.875 75.867 0 48.875 0zm24.792 54.161c2.278 2.225 4.688 4.319 6.733 6.774.906 1.086 1.76 2.209 2.41 3.472.928 1.801.09 3.776-1.522 3.883l-10.013-.002c-2.586.214-4.644-.829-6.379-2.597-1.385-1.409-2.67-2.914-4.004-4.371-.545-.598-1.119-1.161-1.803-1.604-1.365-.888-2.551-.616-3.333.81-.797 1.451-.979 3.059-1.055 4.674-.109 2.361-.821 2.978-3.19 3.089-5.062.237-9.865-.531-14.329-3.083-3.938-2.251-6.986-5.428-9.642-9.025-5.172-7.012-9.133-14.708-12.692-22.625-.801-1.783-.215-2.737 1.752-2.774 3.268-.063 6.536-.055 9.804-.003 1.33.021 2.21.782 2.721 2.037 1.766 4.345 3.931 8.479 6.644 12.313.723 1.021 1.461 2.039 2.512 2.76 1.16.796 2.044.533 2.591-.762.35-.823.501-1.703.577-2.585.26-3.021.291-6.041-.159-9.05-.28-1.883-1.339-3.099-3.216-3.455-.956-.181-.816-.535-.351-1.081.807-.944 1.563-1.528 3.074-1.528l11.313-.002c1.783.35 2.183 1.15 2.425 2.946l.01 12.572c-.021.695.349 2.755 1.597 3.21 1 .33 1.66-.472 2.258-1.105 2.713-2.879 4.646-6.277 6.377-9.794.764-1.551 1.423-3.156 2.063-4.764.476-1.189 1.216-1.774 2.558-1.754l10.894.013c.321 0 .647.003.965.058 1.836.314 2.339 1.104 1.771 2.895-.894 2.814-2.631 5.158-4.329 7.508-1.82 2.516-3.761 4.944-5.563 7.471-1.656 2.31-1.525 3.473.531 5.479z"
          />
        </svg>
      </a>
      <a href="{{ socialLinks.ok }}" class="ok">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 97.75 97.75">
          <path d="M48.921 40.507a8.367 8.367 0 0 0 8.367-8.443c-.017-4.679-3.742-8.402-8.411-8.406a8.398 8.398 0 0 0-8.432 8.508c.035 4.66 3.794 8.358 8.476 8.341z"
          />
          <path d="M48.875 0C21.882 0 0 21.883 0 48.875S21.882 97.75 48.875 97.75 97.75 75.867 97.75 48.875 75.868 0 48.875 0zm.07 14.863c9.52.026 17.161 7.813 17.112 17.438-.048 9.403-7.814 17.024-17.318 16.992-9.407-.032-17.122-7.831-17.066-17.253.053-9.525 7.772-17.203 17.272-17.177zm19.282 41.194c-2.105 2.161-4.639 3.725-7.453 4.816-2.66 1.031-5.575 1.55-8.461 1.896.437.474.642.707.914.979 3.916 3.937 7.851 7.854 11.754 11.802 1.33 1.346 1.607 3.014.875 4.577-.799 1.71-2.592 2.834-4.351 2.713-1.114-.077-1.983-.63-2.754-1.407-2.956-2.974-5.968-5.895-8.862-8.925-.845-.882-1.249-.714-1.994.052a589.856 589.856 0 0 1-9.034 9.072c-1.365 1.346-2.989 1.59-4.573.82-1.683-.814-2.753-2.533-2.671-4.262.058-1.166.632-2.06 1.434-2.858 3.877-3.869 7.742-7.75 11.608-11.628.257-.257.495-.53.868-.93-5.273-.551-10.028-1.849-14.099-5.032-.506-.396-1.027-.778-1.487-1.222-1.783-1.711-1.962-3.672-.553-5.69 1.207-1.728 3.231-2.19 5.336-1.197.408.191.796.433 1.168.689 7.586 5.213 18.008 5.356 25.624.233.754-.576 1.561-1.05 2.496-1.289 1.816-.468 3.512.201 4.486 1.791 1.115 1.817 1.102 3.589-.271 5z"
          />
        </svg>
      </a>

      <a href="{{ socialLinks.telegram }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 242.7 242.7">
          <path d="M121.3 0C54.3 0 0 54.3 0 121.3s54.3 121.3 121.3 121.3 121.3-54.3 121.3-121.3S188.3 0 121.3 0zM194 62.8l-24.7 118.7c-.6 2.8-3.9 4.1-6.2 2.4l-33.7-24.5c-2-1.5-4.8-1.4-6.8.2l-18.7 15.2c-2.2 1.8-5.4.8-6.3-1.9l-13-41.7-33.5-12.5c-3.4-1.3-3.4-6.1 0-7.4l137.5-53c3-1.1 6 1.4 5.4 4.5z"
          />
          <path d="M161.1 84.3l-65.5 40.3c-2.5 1.5-3.7 4.6-2.9 7.4l7.1 24.9c.5 1.8 3.1 1.6 3.3-.2l1.8-13.6c.3-2.6 1.6-4.9 3.5-6.7l54-50.2c1.1-1.1-.2-2.7-1.3-1.9z"
          />
        </svg>
      </a>
      <a href="{{ socialLinks.rss }}" class="ok">
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 512 512">
          <path d="M256 0C114.615 0 0 114.615 0 256s114.615 256 256 256 256-114.615 256-256S397.385 0 256 0zm-96 384c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32zm88 0c0-66.168-53.832-120-120-120v-48c92.636 0 168 75.364 168 168h-48zm96 0c0-57.695-22.469-111.938-63.266-152.735C239.938 190.468 185.696 168 128 168v-48c70.517 0 136.812 27.461 186.678 77.324C364.539 247.187 392 313.482 392 384h-48z"
          />
        </svg>
      </a>
    </div>
    <h2 id="copyright">© 2018 {{ orgName }} - {{ cpText }} </h2>
    <p class="icons">Михаил Агеев, Татьяна Ярмощук. Иконки — <a href="https://www.flaticon.com/authors/roundicons">Roundicons</a>, Flaticon</p>
  </div>
</footer>