<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- † -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ title }} - {{ orgName }}</title>
<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ cmsUrl }}">
<link rel="alternate" href="{{ altLang.altLangUrl }}" hreflang="{{ altLang.altLangCode }}">
<link rel="shortcut icon" href="https://www.currenttime.tv/Content/responsive/RFE/ru-RU-TV/img/webApp/favicon.ico" />
<!-- fb meta -->
<meta property="fb:app_id" content="{{ fb.appId }}">
<meta property="og:url" content="{{ cmsUrl }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{title}}">
<meta property="og:image" content="{{ fb.ogImage }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:site_name" content="{{ siteName }}">
<meta property="og:locale" content="{{ fb.ogLocale }}">
<meta property='article:publisher' content='{{ fb.ogPublisher }}' />

<!-- twitter meta -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ twitter.site }}">
<meta name="twitter:creator" content="{{ twitter.creator }}">
<meta name="twitter:url" content="{{ cmsUrl }}">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ twitter.image }}">

<!-- google -->
<meta itemprop="name" content="{{ title }}">
<meta itemprop="description" content="{{ description }}">
<meta itemprop="image" content="{{ fb.ogImage }}">
<meta name="theme-color" content="{{ themeColor }}">

<!-- meta -->

<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">
<meta name="format-detection" content="telephone=no">
<meta property="author" content="Mikhail Ageev">

<!--Analytics tag js version start-->
<script type="text/javascript">var utag_data = {
        entity: '{{ analytics.entity }}',
        language: '{{ analytics.language }}',
        language_service: '{{ analytics.language_service }}',
        short_language_service: '{{ analytics.short_language_service }}',
        property_id: '{{ analytics.property_id }}',
        platform: 'Responsive',
        platform_short: 'R',
        runs_js: 'Yes',
        page_title: '{{ title }}'
    };
    if (typeof (TealiumTagFrom) === 'function' && typeof (TealiumTagSearchKeyword) === 'function') {
        var utag_from = TealiumTagFrom();
        var utag_searchKeyword = TealiumTagSearchKeyword();
        if (utag_searchKeyword != null && utag_searchKeyword !== '' && utag_data["search_keyword"] == null)
            utag_data["search_keyword"] = utag_searchKeyword;
        if (utag_from != null && utag_from !== '') utag_data["from"] = TealiumTagFrom();
    }
    (function (a, b, c, d) {
        a = "//tags.tiqcdn.com/utag/bbg/rferl-pangea/prod/utag.js";
        b = document;
        c = "script";
        d = b.createElement(c);
        d.src = a;
        d.type = "text/java" + c;
        d.async = true;
        a = b.getElementsByTagName(c)[0];
        a.parentNode.insertBefore(d, a);
    })();</script>
<!--Analytics tag js version end-->

<!-- fonts -->
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300:400,700&subset=cyrillic');

    @font-face {
        font-family: Skolar PE;
        src: url(https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarLatnCyrl-Light.woff);
        font-weight: 400
    }

    @font-face {
        font-family: Skolar PE;
        src: url(https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarLatnCyrl-Bd.woff);
        font-weight: 700
    }

    @font-face {
        font-family: Skolar PE;
        src: url(https://docs.rferl.org/Infographics/sources/fonts/Apollo_Framework/SkolarLatnCyrl-Bd.woff);
        font-weight: 700
    }
</style>