<header>
  <div class="hero-wrapper">
    <div class="hero-meta">
      <h1 class="title">{{ title }}</h1>
      <h2 class="date">{{ pubDate }}</h2>
      <h3 class="blurb">{{ description }}</h3>
    </div>
  </div>
</header>