<nav class="light" data-module="share">
  
  <div class="progress" data-module="progress">
    <div class="bar"></div>
  </div>
  
  <div class="nav__left">

    <a href="{{ homeUrl }}">
      <img src="{{homeUrl}}/Content/responsive/RFE/ru-RU-TV/img/logo.png" alt="">
    </a>

  </div>

  <div class="nav__right">
    <div id="share-wrapper" class="closed">
      <svg id="share-button" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
        <g class="share-icon" id="close-icon">
          <circle id="close-circle" class="cls-1" cx="11" cy="11" r="10" />
          <path id="close-right-x" class="close-x" d="M14 8l-6 6" />
          <path id="close-left-x" class="close-x" d="M8 8l6 6" />
        </g>
        <g class="share-icon share-white" id="share-icon">
          <circle id="share-bottom-circle" class="share-circle" cx="17" cy="4" r="3" />
          <circle id="share-mid-circle" class="share-circle" cx="5" cy="11" r="3" />
          <circle id="share-top-circle" class="share-circle" cx="17" cy="18" r="3" />
          <path id="share-line-bottom" d="M7.59 12.51l6.83 3.98" />
          <path id="share-line-top" class="cls-1" d="M14.41 5.51L7.59 9.49" />
        </g>
      </svg>
      <div id="share-count">
        {{ shareButton }}
      </div>
    </div>
  </div>
</nav>