<div id="filters" class="container">

    <h3>Страна</h3>
    <div class="row checkboxes" data-filter="country">
        <div class="col">
            <label for="filter-us" data-filter="us"><input type="checkbox" id="filter-us" checked> Соединенные штаты Америки
                <span class="checkmark"></span>
            </label>
            
        </div>
        <div class="col">
            <label for="filter-eu" data-filter="eu"><input type="checkbox" id="filter-eu" checked> Европейский Союз
            <span class="checkmark"></span></label>
        </div>
    </div>

    <h3>Повод</h3>
    <div class="row checkboxes" data-filter="reason">
        <div class="col-12 col-sm-6">
            <label for="filter-ukraine" data-filter="ukraine"><input type="checkbox" id="filter-ukraine" checked> Украина
            <span class="checkmark"></span></label>
        </div>
        <div class="col-12 col-sm-6">
            <label for="filter-skripal" data-filter="skripal"><input type="checkbox" id="filter-skripal" checked> Отравление Скрипалей
            <span class="checkmark"></span></label>
        </div>
        <div class="col-12 col-sm-6">
            <label for="filter-elections" data-filter="elections"><input type="checkbox" id="filter-elections" checked> Вмешательство в выборы
            <span class="checkmark"></span></label>
        </div>
        <div class="col-12 col-sm-6">
            <label for="filter-syria" data-filter="syria"><input type="checkbox" id="filter-syria" checked> Война в Сирии
            <span class="checkmark"></span></label>
        </div>
    </div>

    <h3>Тип санкций</h3>
    <div class="row checkboxes" data-filter="type">
        <div class="col col-sm-6">
            <label for="filter-personal" data-filter="personal"><input type="checkbox" id="filter-personal" checked> Персональные
            <span class="checkmark"></span></label>
        </div>
        <div class="col col-sm-6">
            <label for="filter-corporate" data-filter="corporate"><input type="checkbox" id="filter-corporate" checked> Компания / Организация
            <span class="checkmark"></span></label>
        </div>
        <div class="col col-sm-6">
            <label for="filter-economical" data-filter="economical"><input type="checkbox" id="filter-economical" checked> Экономические
            <span class="checkmark"></span></label>
        </div>
        <div class="col col-sm-6">
            <label for="filter-financial" data-filter="financial"><input type="checkbox" id="filter-financial" checked> Финансовые
            <span class="checkmark"></span></label>
        </div>
        <div class="col col-sm-6">
            <label for="filter-diplomatic" data-filter="diplomatic"><input type="checkbox" id="filter-diplomatic" checked> Дипломатические
            <span class="checkmark"></span></label>
        </div>
        <div class="col col-sm-6">
            <label for="filter-extend" data-filter="extend"><input type="checkbox" id="filter-extend" checked> Продление санкций
            <span class="checkmark"></span></label>
        </div>
    </div>

</div>

<div class="container">
    <div class="row justify-content-end">
        <div id="toggle-filters"><a href="#" data-hide="Показать фильтры" data-show="Скрыть фильтры">Показать фильтры</a></div>
    </div>
</div>


<div id="timeline">
    <div class="container">
    
{% for year, sanction_list in sanctions %}
    <div class="year">
        <h2>{{year}}</h2>
        <ul class="sanctions">

            {% for sanction in sanction_list %}
            <li class="container" data-date="{{sanction.the_date}}" data-country="{{sanction.country}}" data-reason="{{sanction.theme}}"
                 {% if sanction.is_personal %}data-personal="1"{% endif %}
                 {% if sanction.is_corporate %}data-corporate="1"{% endif %}
                 {% if sanction.is_economical %}data-economical="1"{% endif %}
                 {% if sanction.is_financial %}data-financial="1"{% endif %}
                 {% if sanction.is_diplomatic %}data-diplomatic="1"{% endif %}
                 {% if sanction.is_extend %}data-extend="1"{% endif %}
                >

                <div class="row heading">
                    <div class="col-4 date">{{sanction.the_date}}</div>
                    <div class="col-8 icons text-right">

                        {% if sanction.is_personal %}
                        <span class="icon personal" data-toggle="tooltip" data-placement="top" title="Персональные санкции"></span>
                        {% endif %}

                        {% if sanction.is_corporate %}
                        <span class="icon corporate" data-toggle="tooltip" data-placement="top" title="Санкции в отношении компаний и организаций"></span>
                        {% endif %}

                        {% if sanction.is_diplomatic %}
                        <span class="icon diplomatic" data-toggle="tooltip" data-placement="top" title="Дипломатические санкции"></span>
                        {% endif %}

                        {% if sanction.is_financial %}
                        <span class="icon financial" data-toggle="tooltip" data-placement="top" title="Финансовые санкции"></span>
                        {% endif %}

                        {% if sanction.is_economical %}
                        <span class="icon economical" data-toggle="tooltip" data-placement="top" title="Экономические санкции"></span>
                        {% endif %}

                        {% if sanction.is_extend %}
                        <span class="icon extend" data-toggle="tooltip" data-placement="top" title="Продление санкций"></span>
                        {% endif %}

                    </div>
                </div>

                <div class="row item">
                    <div class="col-2 col-sm-1 offset-sm-3 flag {{sanction.country}}"></div>
                    <div class="col-10 col-sm-8 text">
                            {{sanction.content}}
                        <p class="reason">Повод: {{sanction.reason}}</p>
                    </div>
                </div>

            </li>
            {% endfor %}

        </ul>
    </div>
{% endfor %}

</div></div>